*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ubuntu: 'Ubuntu', sans-serif;
  --robotoMono: 'Roboto Mono', monospace;
  --darkBlack:  #1c2833;
  --darkBlue:  #1f618d;
  --yellow:  #f4d03f;
  --grey:  #424949;
  --green:  #27ae60;
}

body {
  color: var(--darkBlack);
  font-family: var(--robotoMono);
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  font-family: var(--ubuntu);
  text-decoration: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.center-container {
  border: 2px solid orangered;
  height: 500px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.square {
  border: 3px solid var(--darkBlue);
  width: 200px;
  height: 375px;
  position: absolute;
}

#a1 {
  -webkit-animation: a1 5s linear infinite;
          animation: a1 5s linear infinite;
}

@-webkit-keyframes a1 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes a1 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

#a2 {
  -webkit-animation: a2 5s linear infinite;
          animation: a2 5s linear infinite;
}

@-webkit-keyframes a2 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
}

@keyframes a2 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
}

#a3 {
  -webkit-animation: a3 5s linear infinite;
          animation: a3 5s linear infinite;
}

@-webkit-keyframes a3 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
}

@keyframes a3 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
}

#a4 {
  -webkit-animation: a4 5s linear infinite;
          animation: a4 5s linear infinite;
}

@-webkit-keyframes a4 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
}

@keyframes a4 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
}

#a5 {
  -webkit-animation: a5 5s linear infinite;
          animation: a5 5s linear infinite;
}

@-webkit-keyframes a5 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@keyframes a5 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

#a6 {
  -webkit-animation: a6 5s linear infinite;
          animation: a6 5s linear infinite;
}

@-webkit-keyframes a6 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}

@keyframes a6 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}

#a7 {
  -webkit-animation: a7 5s linear infinite;
          animation: a7 5s linear infinite;
}

@-webkit-keyframes a7 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
}

@keyframes a7 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
}

#a8 {
  -webkit-animation: a8 5s linear infinite;
          animation: a8 5s linear infinite;
}

@-webkit-keyframes a8 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
}

@keyframes a8 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
}

#a9 {
  -webkit-animation: a9 5s linear infinite;
          animation: a9 5s linear infinite;
}

@-webkit-keyframes a9 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@keyframes a9 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

#a10 {
  -webkit-animation: a10 5s linear infinite;
          animation: a10 5s linear infinite;
}

@-webkit-keyframes a10 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes a10 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#a11 {
  -webkit-animation: a11 5s linear infinite;
          animation: a11 5s linear infinite;
}

@-webkit-keyframes a11 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}

@keyframes a11 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}

#a12 {
  -webkit-animation: a12 5s linear infinite;
          animation: a12 5s linear infinite;
}

@-webkit-keyframes a12 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@keyframes a12 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

#a13 {
  -webkit-animation: a13 5s linear infinite;
          animation: a13 5s linear infinite;
}

@-webkit-keyframes a13 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@keyframes a13 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

#a14 {
  -webkit-animation: a14 5s linear infinite;
          animation: a14 5s linear infinite;
}

@-webkit-keyframes a14 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@keyframes a14 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

#a15 {
  -webkit-animation: a15 5s linear infinite;
          animation: a15 5s linear infinite;
}

@-webkit-keyframes a15 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes a15 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

#a16 {
  -webkit-animation: a16 5s linear infinite;
          animation: a16 5s linear infinite;
}

@-webkit-keyframes a16 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes a16 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

#a17 {
  -webkit-animation: a17 5s linear infinite;
          animation: a17 5s linear infinite;
}

@-webkit-keyframes a17 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes a17 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

#a18 {
  -webkit-animation: a18 5s linear infinite;
          animation: a18 5s linear infinite;
}

@-webkit-keyframes a18 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes a18 {
  50% {
    border-radius: 100%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=main.css.map */