
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --ubuntu: 'Ubuntu', sans-serif;
    --robotoMono: 'Roboto Mono', monospace;
    --darkBlack:  #1c2833;
    --darkBlue:  #1f618d;
    --yellow:  #f4d03f;
    --grey:  #424949;
    --green:  #27ae60;
}

body{
    color: var(--darkBlack);
    font-family: var(--robotoMono);
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}





.center-container{
    border: 2px solid orangered;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.overflow{
    overflow: hidden;
    display: flex;
    height: 42.5px;
}
.height{
    animation: rotate 8s linear  infinite backwards;
}
.change{
 margin-left: 1rem;
}

@keyframes rotate{
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-45px);
    }
    50%, 70% {
        transform: translateY(-90px);
    }
    75%, 95% {
        transform: translateY(-135px);
    }
    100% {
        transform: translateY(-180px);
    }
}



#text{
    background: orangered;
    padding: 0rem 1rem;
    height: 50px;
}



